#rooms-container {
	/*border: 1px solid white;*/
	margin:          120px auto auto;
	max-width:       1128px;
	position:        relative;
	display:         flex;
	flex-direction:  row;
	justify-content: space-around;
	justify-content: space-evenly;
	flex-wrap:       wrap;
}

#rooms-container a {
	color:           inherit;
	text-decoration: none;
}

.room {
	/*border: 1px dotted blue;*/
	/*background-color: whitesmoke;*/
	width:          260px;
	height:         300px;
	position:       relative;

	margin:         15px 15px;
	text-align:     center;
	display:        flex;
	flex-direction: column;
	cursor:         pointer;
}

.room:hover {
	outline:          1px solid #cccccc;
	background-color: white;
}

.room .img-container {
	width:  100%;
	height: 150px;
}

.room img {
	height: 100%;
}

.room-name {
	font-size:      1.5em;
	margin:         5px auto auto auto;
	width:          90%;
	padding-bottom: 5px;
	border-bottom:  1px solid black;
	font-family:    'Playfair Display', serif;
}

.room-info {
	padding:    5px;
	margin-top: auto;
	font-size:  14px;
}

#create-room {
	width:       400px;
	margin:      30px auto auto;
	color:       black;
	font-family: 'Raleway', sans-serif;
}

.checkbox {
	height:              50px;
	width:               50px;

	border:              1px solid #cccccc;
	color:               #560e0e;
	background:          #eeeeee;
	font-size:           50px;
	text-align:          center;
	line-height:         50px;
	cursor:              pointer;
	-webkit-user-select: none;
	-moz-user-select:    none;
	-ms-user-select:     none;
	user-select:         none;
}

.checkbox:hover {
	border: 1px solid #560e0e;
}

.copy-box {
	width:       100%;
	font-size:   1.5em;
	padding:     10px;
	outline:     1px dashed #cccccc;
	border:      none;
	background:  #eeeeee;
	font-family: inherit;
}

.copy-box:focus, .copy-box:hover {
	outline: 1px solid #560e0e;
}

.submit-btn {
	/*float:     right;*/
	font-size: 60px;
}

.modal {
	width:         90%;
	max-width:     500px;
	height:        250px;
	position:      fixed;
	margin:        100px auto auto;

	top:           100px;
	left:          0;
	right:         0;
	z-index:       999;

	background:    white;
	text-align:    left;
	border-radius: 2%;
	box-shadow:    #606060 0 0 80px 15px;
	padding:       20px 10px;
}

.modal .close {
	position:  absolute;
	top:       10px;
	right:     10px;
	color:     #cccccc;
	cursor:    pointer;
	font-size: 24px;
}

.modal .close:hover {
	color: #560e0e;
}

#modal-buttons {
	margin-top: 30px;
}

#modal-buttons i {
	align-self: flex-end;
	color:      #cccccc;
	cursor:     pointer;
}

#modal-buttons i:hover {
	color: #560e0e;
}

.col-2 {
	display:         flex;
	justify-content: space-around;
}