#room-container {
	max-width: 1024px;
	width:     100%;
	display:   flex;
	padding:   10px;
	position:  absolute;
	top:       120px;
	bottom:    0;
}

#music {
	width:          100%;
	max-width:      694px;
	display:        flex;
	flex-direction: column;
}

#music #now-playing {
	display:  flex;
	position: relative;
	height:   200px;
}

#music #now-playing #img-container {
	max-width:     200px;
	width:         26vmin;
	margin-bottom: 10px;
}

#img-container img {
	max-width:  100%;
	max-height: 100%;
}

#music #now-playing #right {
	margin-left: 20px;
	overflow:    hidden;
	position:    relative;
}

#music #now-playing #right #music-info {
	padding-top: 20px;
	font-size:   2.5vmin;
	max-height:  175px;
}

#music #now-playing #right #controls {
	bottom:     10px;
	position:   absolute;
	width:      100%;
	height:     25px;
	/*background: white;*/
	border-top: 1px solid #cccccc;
	z-index:    1;
	background: #eeeeee;
}

.queue.ReactTable {
	border:     1px solid #cccccc;
	font:       .8em 'Noto Sans';
	min-height: 0;
	flex:       1 1 auto;
	margin:     10px 0;
}

.rt-td {
	padding: 3px 5px !important;
}

#music #upload {
	/*height:  60px;*/
	flex:    0 0 60px;
	outline: 1px solid #cccccc;
}

#chat {
	width:       300px;
	flex-shrink: 0;
	margin-left: 10px;
	padding:     10px;
	background:  white;
	outline:     1px solid #cccccc;
	position:    relative;
}

#chat-messages {
	font:       .8em 'Noto Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Sans-Serif;
	color:      #606060;
	overflow-y: scroll;
	position:   absolute;
	bottom:     60px;
	top:        0;
	left:       0;
	padding:    0 10px;
	width:      100%;
}

.message {
	margin: 7px 0;
}

#chat textarea {
	position:   absolute;
	bottom:     0;
	left:       0;
	width:      100%;
	border:     none;
	border-top: 1px solid #cccccc;
	resize:     none;
	height:     60px;
	padding:    5px;
}