#room-container {
	max-width: 1128px;
	width:     100%;
	display:   flex;
	padding:   10px;
	position:  absolute;
	top:       120px;
	bottom:    0;
}

#music {
	width:          100%;
	max-width:      798px;
	display:        flex;
	flex-direction: column;
}

#music #now-playing {
	display:  flex;
	position: relative;
	height:   200px;
}

#music #now-playing #img-container {
	max-width:  200px;
	width:      26vmin;
	height:     100%;
	max-height: 180px;
	align-self: flex-end;
}

#img-container img {
	max-width:  100%;
	max-height: 100%;
}

#music #now-playing #right {
	margin-left:     20px;
	width:           100%;
	overflow:        hidden;
	position:        relative;
	display:         flex;
	flex-direction:  column;
	justify-content: flex-end;
}

#music #now-playing #right #music-info {
	padding-top:   20px;
	font-size:     2.5vmin;
	max-height:    175px;
	margin-bottom: auto;
}

.progress-bar-container {
	position: relative;
	margin:   auto;
}

.progress-bar-container-card {
	position: relative;
	margin:   auto;
	width:    80%;
}

.progress-bar {
	height:      7px;
	width:       100%;
	border:      1px solid #606060;
	position:    relative;
	flex-shrink: 0;

}

.progress-indicator {
	position:         absolute;
	height:           5px;
	left:             0;
	background-color: #560e0e;
}

#music #now-playing #right #controls {
	width:      100%;
	height:     25px;
	margin-top: 10px;
	border-top: 1px solid #cccccc;
	z-index:    1;
	background: #eeeeee;
}

.queue.ReactTable {
	border:     1px solid #cccccc;
	font:       .8em 'Noto Sans';
	min-height: 0;
	flex:       1 1 auto;
	margin:     10px 0;
}

.rt-tr.pending {
	color: #aaaaaa;
}

.rt-td.pending {
	padding:     auto !important;
	padding-top: 5px !important;
}

.track-spinner div {
	width:  15px;
	height: 15px;
}

.rt-td {
	padding: 3px 5px !important;
}

.rt-thead {
	overflow-y: scroll;
}

#upload {
	/*height:  60px;*/
	flex:    0 0 60px;
	outline: 1px solid #cccccc;
}

#chat {
	display:         flex;
	flex-direction:  column;
	justify-content: flex-end;
	width:           300px;
	flex-shrink:     0;
	margin-left:     10px;
	background:      white;
	outline:         1px solid #cccccc;
	position:        relative;
}

#chat-messages-container {
	font:       .8em 'Noto Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Sans-Serif;
	color:      #606060;
	flex-grow:  1;
	width:      100%;
	position:   relative;
	border-top: 3px double #cccccc;
}

#chat-messages {
	position:   absolute;
	bottom:     0;
	overflow:   auto;
	max-height: 100%;
	width:      100%;
	padding:    0 10px;
}

#users-small {
	flex-shrink:         0;
	margin-bottom:       2px;
	cursor:              pointer;
	-webkit-user-select: none;
	-moz-user-select:    none;
	-ms-user-select:     none;
	user-select:         none;
	max-height:          1.5em;
	overflow:            hidden;
	text-align:          center;

	-webkit-transition:  max-height .25s ease;
	-moz-transition:     max-height .25s ease;
	-ms-transition:      max-height .25s ease;
	-o-transition:       max-height .25s ease;
	transition:          max-height .25s ease;
}

#users-small.slide {
	-webkit-transition: max-height .5s linear;
	-moz-transition:    max-height .5s linear;
	-ms-transition:     max-height .5s linear;
	-o-transition:      max-height .5s linear;
	transition:         max-height .5s linear;
	max-height:         12em;
}

#users-big {
	overflow:     auto;
	text-align:   left;
	padding-left: 10px;
	max-height:   10.5em;
	font:         .8em 'Noto Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Sans-Serif;
	color:        #606060;
}

#users-small:hover {
	color: #560e0e;
}

#users-small i {
	vertical-align: bottom;
}

.message {
	margin: 7px 0;
}

#chat textarea {
	flex-shrink: 0;
	border:      none;
	border-top:  1px solid #cccccc;
	resize:      none;
	height:      60px;
	padding:     5px;
}
