#room-container {
	max-width: 1024px;
	display:   flex;
	margin:    10px;
}

#music {
	width: 100%;
}

#music #now-playing {
	height:  35%;
	display: flex;
}

#music #now-playing img {
	height:  100%;
	padding: 0 10px 10px 0;
}

#music #now-playing #right {
	position: relative;
}

#music #now-playing #right #music-info {
	padding-top: 20px;
	font-size:   1.3em;
}

#music #now-playing #right #controls {
	bottom:   10px;
	position: absolute;
}

#music #queue {
	background:      white;
	outline:         1px solid #cccccc;
	height:          65%;
	width:           100%;
	padding:         10px;
	border-collapse: collapse;
}

#queueTable {
	display: table;
	width:   100%;
}

#music #queue #queueHeader {
	display:       table-header-group;
	width:         100%;
	border-bottom: 1px solid #cccccc;
}

#music #queue #queueHeader span, .row span {
	display: table-cell;
	padding: 5px;
}

#queueRows {
	display: table-row-group;
}

.row {
	display: table-row;
	height:  10px;
}

#chat {
	width:       400px;
	margin-left: 10px;
	padding:     10px;
	background:  white;
	outline:     1px solid #cccccc;
	position:    relative;
}

#chat-messages {
	font:       13px 'Noto Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Sans-Serif;
	color:      #606060;
	overflow-y: scroll;
	position:   absolute;
	bottom:     60px;
	top:        0;
	left:       0;
	padding:    0 10px;
}

.message {
	margin: 7px 0;
}

#chat textarea {
	position:   absolute;
	bottom:     0;
	left:       0;
	width:      100%;
	border:     none;
	border-top: 1px solid #cccccc;
	resize:     none;
	height:     5em;
	padding:    5px;
}